set_location IN_MUX_bfv_6_8_0_ 6 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_9_0_ 6 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location r_Switch_1_THRU_LUT4_0 6 7 3 #SB_LUT4
set_location de_inst.r_filtered_data_RNO_3 5 8 3 #SB_LUT4
set_location de_inst.r_counter[1] 6 10 4 #SB_DFFSR
set_location de_inst.r_counter_2_cry_6_c 6 8 5 #SB_CARRY
set_location de_inst.r_counter[17] 6 10 0 #SB_DFFSR
set_location r_LED_1 6 7 5 #SB_DFF
set_location de_inst.r_counter_RNO[16] 6 9 7 #SB_LUT4
set_location de_inst.r_counter_RNI8F1P1[10] 5 8 7 #SB_LUT4
set_location de_inst.r_filtered_data_RNO_4 6 7 6 #SB_LUT4
set_location de_inst.r_counter_RNO[2] 6 8 1 #SB_LUT4
set_location de_inst.r_counter[6] 6 8 5 #SB_DFFSR
set_location de_inst.r_counter_2_cry_10_c 6 9 1 #SB_CARRY
set_location r_LED_1_RNO 6 7 5 #SB_LUT4
set_location de_inst.r_counter[12] 6 9 3 #SB_DFFSR
set_location de_inst.r_counter_RNO[4] 6 8 3 #SB_LUT4
set_location de_inst.r_counter_RNO[11] 6 9 2 #SB_LUT4
set_location de_inst.r_counter[4] 6 8 3 #SB_DFFSR
set_location de_inst.r_counter_2_cry_3_c 6 8 2 #SB_CARRY
set_location de_inst.r_counter[10] 6 9 1 #SB_DFFSR
set_location de_inst.r_filtered_data_RNO_0 5 8 4 #SB_LUT4
set_location de_inst.r_filtered_data_RNO 6 7 1 #SB_LUT4
set_location de_inst.r_counter_RNO[6] 6 8 5 #SB_LUT4
set_location de_inst.r_counter_RNO[13] 6 9 4 #SB_LUT4
set_location de_inst.r_counter_2_cry_16_c 6 9 7 #SB_CARRY
set_location de_inst.r_counter[2] 6 8 1 #SB_DFFSR
set_location de_inst.r_filtered_data 6 7 1 #SB_DFF
set_location de_inst.r_counter_RNO[1] 6 10 4 #SB_LUT4
set_location de_inst.r_counter[9] 6 9 0 #SB_DFFSR
set_location de_inst.r_counter_2_cry_2_c 6 8 1 #SB_CARRY
set_location de_inst.r_counter[16] 6 9 7 #SB_DFFSR
set_location de_inst.r_filtered_data_RNO_2 5 9 1 #SB_LUT4
set_location de_inst.r_filtered_data_RNITOLR6 5 8 2 #SB_LUT4
set_location de_inst.r_counter_RNO[8] 6 8 7 #SB_LUT4
set_location de_inst.r_counter_RNO[15] 6 9 6 #SB_LUT4
set_location de_inst.r_counter[0] 6 10 7 #SB_DFFSR
set_location de_inst.r_filtered_data_RNO_5 5 8 5 #SB_LUT4
set_location de_inst.r_counter_RNO[3] 6 8 2 #SB_LUT4
set_location de_inst.r_counter[7] 6 8 6 #SB_DFFSR
set_location de_inst.r_counter_2_cry_5_c 6 8 4 #SB_CARRY
set_location de_inst.r_counter_2_cry_4_c 6 8 3 #SB_CARRY
set_location de_inst.r_counter_2_cry_13_c 6 9 4 #SB_CARRY
set_location de_inst.r_counter[14] 6 9 5 #SB_DFFSR
set_location de_inst.r_counter_RNO[17] 6 10 0 #SB_LUT4
set_location de_inst.r_counter_RNO[5] 6 8 4 #SB_LUT4
set_location de_inst.r_counter_RNO[10] 6 9 1 #SB_LUT4
set_location de_inst.r_counter[5] 6 8 4 #SB_DFFSR
set_location de_inst.r_counter_2_cry_15_c 6 9 6 #SB_CARRY
set_location de_inst.r_counter_2_cry_14_c 6 9 5 #SB_CARRY
set_location de_inst.r_counter_RNIEQBK1[17] 5 9 0 #SB_LUT4
set_location de_inst.r_counter[13] 6 9 4 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location de_inst.r_filtered_data_RNO_1 6 7 7 #SB_LUT4
set_location de_inst.r_counter_RNO[7] 6 8 6 #SB_LUT4
set_location de_inst.r_counter_RNO[12] 6 9 3 #SB_LUT4
set_location de_inst.r_counter_RNIJIUG4[12] 5 8 1 #SB_LUT4
set_location de_inst.r_counter[3] 6 8 2 #SB_DFFSR
set_location de_inst.r_counter_2_cry_7_c 6 8 6 #SB_CARRY
set_location de_inst.r_counter_2_cry_12_c 6 9 3 #SB_CARRY
set_location de_inst.r_counter_2_cry_9_c 6 9 0 #SB_CARRY
set_location de_inst.r_counter[11] 6 9 2 #SB_DFFSR
set_location r_Switch_1 6 7 3 #SB_DFF
set_location de_inst.r_counter_RNO[9] 6 9 0 #SB_LUT4
set_location de_inst.r_counter_RNO[14] 6 9 5 #SB_LUT4
set_location de_inst.r_counter_RNO[0] 6 10 7 #SB_LUT4
set_location de_inst.r_counter[8] 6 8 7 #SB_DFFSR
set_location de_inst.r_counter_2_cry_1_c 6 8 0 #SB_CARRY
set_location de_inst.r_counter_RNIACNT1[4] 5 8 0 #SB_LUT4
set_location de_inst.r_counter_2_cry_8_c 6 8 7 #SB_CARRY
set_location de_inst.r_counter_2_cry_11_c 6 9 2 #SB_CARRY
set_location de_inst.r_counter[15] 6 9 6 #SB_DFFSR
set_io o_LED_1 56
set_io i_Switch_1 53
set_io i_Clk 15
